@import '../decks/shared';

.rich-text-editor {
  border-width: 1px;
  padding: 20px;
  overflow-y: auto;
  line-height: 1.6;
}

/* This was meant to only affect the text editor, but it's a fine color so it's fine that it affects everything */
::selection {
  background: rgba(66, 135, 245, 0.4) !important;
}

.flashcard-link {
  color: $lightPurple;
  font-weight: bold;
}
