.math-inline, .math-block {
  background: rgb(235, 235, 235);
  font-style: italic;
  font-family: 'Lucida Console', 'Courier New', monospace;
}

.math-block {
  text-align: center;
  padding: 5px;
}
