#contentProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

#contentProgressBar {
  width: 4%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 10px;
}