{% extends 'base.html' %}

{% block head_title %}
Home
{% endblock head_title %}

{% block content %}
<h1>Welcome</h1>

<div id='user_decks'>
    {% if top_decks %}
    <ul>
        {% for deck in top_decks %}
            <li>{{ deck }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No decks. :(</p>
    {% endif %}
</div>

<script>
const decksElement = document.getElementById('user_decks');
decksElement.innerHTML = 'Loading...';

const xhr = new XMLHttpRequest();
const method = 'GET';
const url = '/decks';
const responseType = 'json';

function formatDeckElement(deck) {
    var formattedDeck = "<div class='mb-4 deck' id='" + deck.id + "<p>" + deck.title + "</p></div>";
    return formattedDeck;
};

xhr.responseType = responseType;
xhr.open(method, url);
xhr.onload = function() {
    const serverResponse = xhr.response;
    const listedItems = serverResponse.response;

    var finalDeckStr = "";
    for (deck of listedItems) {
        finalDeckStr += formatDeckElement(deck);
    };
    decksElement.innerHTML = finalDeckStr;
};
xhr.send();

</script>
{% endblock content %}