{% extends 'base.html' %}

{% block head_title %}
Home
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome</h1>
    </div>
</div>


<div class='row' id='user_decks'>
    Loading...
</div>

<script>
const decksElement = document.getElementById('user_decks');

const xhr = new XMLHttpRequest();
const method = 'GET';
const url = '/decks';
const responseType = 'json';

function handleEdit(deck_id) {
    console.log(deck)
};

function EditButton(deck) {
    return "<button class='btn btn-primary mb-4' onclick=handleEdit(deck.id)>Edit</button>";
};

function formatDeckElement(deck) {
    var formattedDeck = "<div class='col-12 border py-3 mb-1 deck' id='" + deck.id + "'<p>" + deck.title + "</div></p><div class='btn-group'>" + EditButton(deck) + "</div>";
    return formattedDeck;
};

xhr.responseType = responseType;
xhr.open(method, url);
xhr.onload = function() {
    const serverResponse = xhr.response;
    const listedItems = serverResponse.response;

    var finalDeckStr = "";
    for (deck of listedItems) {
        finalDeckStr += formatDeckElement(deck);
    };
    decksElement.innerHTML = finalDeckStr;
};
xhr.send();

</script>
{% endblock content %}