{% extends 'base.html' %}

{% block head_title %}
Home
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome</h1>
    </div>
</div>


<div class='row' id='user_decks'>
    Loading...
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='deck-create-form' method='POST' action='/createdeck'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <input type='text' class='form-control' name='title' placeholder='My deck'></textarea>
            <button type='submit' class='btn btn-primary'>Create</button>
        </form>
    </div>
</div>

<script>
const deckCreateFormEl = document.getElementById('deck-create-form');

deckCreateFormEl.addEventListener('submit', function() {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    const endpoint = myForm.getAttribute('action');
    const method = myForm.getAttribute('method');
    const xhr = new XMLHttpRequest();
    xhr.open(method, endpoint);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const decksEl = document.getElementById('user_decks');
        loadDecks(decksEl)
    };
    xhr.send(myFormData);
});

const decksEl = document.getElementById('user_decks');

function loadDecks(decksElement) {
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const endpoint = '/decks';
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, endpoint);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const listedItems = serverResponse.response;
        
        var finalDeckStr = "";
        for (deck of listedItems) {
            finalDeckStr += formatDeckElement(deck);
        };
        decksElement.innerHTML = finalDeckStr;
    };
    xhr.send();
};

function handleEdit(deck_id) {
    console.log(deck)
};

function EditButton(deck) {
    return "<button class='btn btn-primary mb-4' onclick=handleEdit(deck.id)>Edit</button>";
};

function formatDeckElement(deck) {
    var formattedDeck = "<div class='col-12 border py-3 mb-1 deck' id='" + deck.id + "'<p>" + deck.title + "</div></p><div class='btn-group'>" + EditButton(deck) + "</div>";
    return formattedDeck;
};

loadDecks(decksEl);

</script>
{% endblock content %}