{% extends 'base.html' %}

{% block head_title %}
Home
{% endblock head_title %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome</h1>
    </div>
</div>

<div class='row' id='user_decks'></div>

<div class='text-center d-none'><p>Create a new deck</p></div>
<div class='row mb-3 d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='deck-create-form' method='POST' action='/createdeck/'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='deck-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <input type='text' required='required' class='form-control text-center' name='title' placeholder='My deck'></textarea>
            <div class='text-center mt-1'><button type='submit' class='btn btn-primary'>Create</button></div>
        </form>
    </div>
</div>

<div class='row d-none' id='user_decks-old'>
    Loading...
</div>


<script>

function handleDeckCreateFormError(msg, display) {
    var myErrorDiv = document.getElementById('deck-create-form-error');
    if (display === true) {
        myErrorDiv.setAttribute('class', 'd-block alert alert-danger');
        myErrorDiv.innerText = msg;
    } else {
        myErrorDiv.setAttribute('class', 'd-none alert alert-danger');
    };
};

const deckCreateFormEl = document.getElementById('deck-create-form');

deckCreateFormEl.addEventListener('submit', function() {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    const endpoint = myForm.getAttribute('action');
    const method = myForm.getAttribute('method');
    const xhr = new XMLHttpRequest();
    const responseType = 'json';
    xhr.responseType = responseType;
    xhr.open(method, endpoint);
    xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.onload = function() {
        if (xhr.status === 201) {
            const newDeck = xhr.response;
            const newDeckEl = formatDeckElement(newDeck);
            const ogHtml = decksContainerEl.innerHTML;
            decksContainerEl.innerHTML = newDeckEl + ogHtml;
            myForm.reset();
        } else if (xhr.status === 400) {
            const errorJson = xhr.response;
            const contentError = errorJson.title;
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0];
                if (contentErrorMsg) {
                    handleDeckCreateFormError(contentErrorMsg, true);
                } else {
                    alert('An unknown error has occured. Please try again.');
                };
            } else {
                alert('A weird error occured. Please try again.');
            };
            console.log(errorJson);
        } else if (xhr.status === 401 || xhr.status === 403) {
            alert('You must log in to create a deck');
            window.location.href = '/login';
        } else if (xhr.status === 500) {
            alert('A server error occured. Please contact me at ...');
        };
    };
    xhr.onerror = function() {
        alert('An error occured. Please contact me at ...');
    };
    xhr.send(myFormData);
});

const decksContainerEl = document.getElementById('user_decks-old');

function loadDecks(decksElement) {
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const endpoint = '/api/decks/decklist';
    const responseType = 'json';

    xhr.responseType = responseType;
    xhr.open(method, endpoint);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const listedItems = serverResponse;
        
        var finalDeckStr = "";
        for (deck of listedItems) {
            finalDeckStr += formatDeckElement(deck);
        };
        decksElement.innerHTML = finalDeckStr;
    };
    xhr.send();
};

function handleEdit(deck) {
    console.log('Editing', deck)
};

function EditButton(deck) {
    return "<button class='btn btn-primary mb-4 mr-1' onclick=handleEdit(deck)>Edit</button>";
};

function handleAddFlashcards(deck) {
    console.log('Adding flashcards to', deck)
};

function AddFlashcardsButton(deck) {
    return "<button class='btn btn-primary mb-4 mr-1' onclick=handleAddFlashcards(deck)>Add Flash Cards</button>";
};

function handleDelete(deck) {
    console.log('Deleting', deck)
};

function DeleteDeckButton(deck) {
    return "<button class='btn btn-danger mb-4 mr-1' onclick=handleDelete(deck)>Delete</button>";
};

function formatDeckElement(deck) {
    var formattedDeck = "<div class='col-12 border py-3 mb-1 deck' id='" + deck.id + "'<p>" + deck.title + "</div></p><div class='btn-group'>" + EditButton(deck) + AddFlashcardsButton(deck) + DeleteDeckButton(deck) + "</div>";
    return formattedDeck;
};

loadDecks(decksContainerEl);

</script>
{% endblock content %}