.matching-row {
  text-align: center;
}

.matching-col {
  text-align: center;
  background: white;
  margin: 5px;
  border-radius: 10px;
  height: 200px;
  padding-top: 15px;
  transition: 0.2s all;
  border: 5px rgb(98, 118, 184) solid;
  font-size: large;
  overflow-y: auto;
  min-width: 150px;
}

.matching-col:hover {
  cursor: pointer;
  background: rgb(235, 235, 235);
}

.selected {
  background: rgb(211, 211, 211) !important;
  transform: scale(0.95);
}

.correct {
  animation: pop 0.3s linear 1;
  background: rgb(156, 225, 187)!important;
  cursor: default !important;
  border: 5px rgb(90, 151, 117) solid;
}

.w-90 {
  width: 90%;
}

@keyframes pop {
  50% {transform: scale(1.1);}
}
