.answer {
  border: 5px rgb(98, 118, 184) solid;
  border-radius: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  padding: none;
}

.incorrect {
  cursor: none;
  background: rgb(216, 108, 108)!important;
}

.answer:hover {
  cursor: pointer;
  background: rgb(235, 235, 235);
}

.not-a-button {
  background: none;
  border: none;
  width: 100%;
}
