table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

td {
  vertical-align: top;
}

th {
  text-align: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.08);
}

.cue {
  width: 25%;
}