@import '../shared';

.study-progress {
  width: 100%;
  height: 30px;
  padding: 0;

  border: $grayBorder;
  border-radius: 15px;
  background: #fafafa;

  >.study-progress-bar {
    background: linear-gradient(90deg, rgba(76, 154, 42, 1) 0%, rgba(164, 222, 3, 1) 100%);
    height: 100%;
    border-radius: 15px;
    transition: 0.5s cubic-bezier(.21, .59, .56, 1.29);

    >.study-progress-text {
      margin-left: 10px;
      mix-blend-mode: difference;
    }
  }
}

.hard-exercise-text {
  color: #a51100;
  text-align: center;
  font-weight: bold;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

.finished-col {
  height: 70vh;

  @media (min-width:767px) {
    &.left {
      border-right: $grayBorder;
    }
  }

  @media (max-height:767px) {
    &.right {
      transform: translateY(60px);
    }
  }
}
