{% extends 'landing/base-landing.html' %}

{% block title %}{{ title }} at{% endblock title %}

{% block content %}
<!-- TODO: this is very slow -->
<script src="https://kit.fontawesome.com/11201b2070.js" crossorigin="anonymous" media="print" onload="this.media='all'"></script>

<div
  id='landing-main'
  class='landing-component mt-5'
  data-alpha-spots-remaining='200'
  data-experiment-params='{{ experiment_params }}'
  data-user-agent='{{ user_agent }}'
  data-show-login-required='{{ show_login_required }}'
  data-return-url='{{ return_url }}'
  data-user-is-new='{{ user_is_new }}'
></div>
{% endblock content %}