<!-- This is slow -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="print" onload="this.media='all'">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/home/"><em>Alu Flashcards</em></a>
  <span class="text-white">|</span>
  <span class="nav-item">
    <a class="nav-link text-white" href="/explore"><i class="fa fa-book"></i> Explore <span class="sr-only">(current)</span></a>
  </span>
  <span class="text-white">|</span>
  <span class="nav-item">
    <a class="nav-link text-white" href="/explore/decks/search/"><i class="fa fa-search"></i> Search <span class="sr-only">(current)</span></a>
  </span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-info text-white px-5" href="/login">Login</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link btn btn-success text-white px-5" href="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>