.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

// Text
.editorParagraph {
  margin: 0;
  position: relative;
}
.textBold {
  font-weight: bold;
}
.textItalic {
  font-style: italic;
}
.textUnderline {
  text-decoration: underline;
}
.textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}
.flashcardLink {
  color: #8166ee;
  font-weight: bold;
}

// Headings
.h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
.h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}
.h3 {
  font-size: 12px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

// Other blocks
.quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

// Lists
.ol1 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-position: inside;
}
.ol2 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-alpha;
  list-style-position: inside;
}
.ol3 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-alpha;
  list-style-position: inside;
}
.ol4 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: upper-roman;
  list-style-position: inside;
}
.ol5 {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: lower-roman;
  list-style-position: inside;
}
.ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-position: inside;
  list-style-type: disc;
}
// .listItem {
// }
.nestedListItem {
  list-style-type: none;
}
.nestedListItem:before,
.nestedListItem:after {
  display: none;
}

// Code
.code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}
.code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

// Editor
.surroundingDiv {
  > div[data-lexical-editor="true"] {
    padding: 0.75rem;
    z-index: 1;
    overflow: hidden;

    > ol {
      list-style-type: decimal;
    }

    &:focus {
      outline: 2px solid transparent;
      border-color: darken(#e5e7eb, 5%);
    }
    &:hover {
      cursor: text;
    }
  }
}
