.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

.editorParagraph {
  margin: 0 0 15px 0;
  position: relative;
}

.textBold {
  font-weight: bold;
}
.textItalic {
  font-style: italic;
}
.textUnderline {
  text-decoration: underline;
}
.textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.surroundingDiv {
  > div[data-lexical-editor="true"] {
    padding: 0.75rem;

    &:focus {
      outline: 2px solid transparent;
      border-color: darken(#e5e7eb, 5%);
    }
  }
}
