.page-selector {
  border: 1px solid;
  width: 150px;
  height: 200px;
  padding-bottom: 150px;
  display: inline-block;
  border-radius: 5px;
}

.page-selector:hover {
  box-shadow: 0px 5px 5px gray;
}

.selected {
  border: 5px solid;
}