<!DOCTYPE html>
{% load inlinecss %}
{% inlinecss "email_base.css" %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">

    <title>{% block page_title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="background">
      <table id="body-table">
        <tr>
          <table class="border-collapse w-100">
            <td class="p-0">
              <table style="width:100%" cellspacing="0" cellpadding="0" align="center">
                <td align="left" class="p-0">
                  <table class="w-100 dark-background">
                    <td align="center">
                      <h1>{% block entrance %}{% endblock %}</h1>
                    </td>
                  </table>
                </td>
              </table>
            </td>
          </table>
          <table style="table-layout:fixed !important;width:100%">
            <tbody>
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" align="center" style="width:100%">
                    <tr>
                      <td>
                        <table id="main-content">
                          <tbody>
                            {% block content %}{% endblock %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td style="width:540px">
                <table class="w-100 py-3">
                  <tr>
                    <td>
                      <p class="text-center">
                        <strong>
                          <a target="_blank" href="https://www.alulearn.com/settings/" class="small-link">Unsubscribe</a> -
                          <a target="_blank" href="https://www.alulearn.com/contactus/" class="small-link">Contact Us</a> -
                          <a target="_blank" href="https://www.alulearn.com/legal/privacypolicy/" class="small-link">Privacy Policy</a> -
                          <a target="_blank" href="https://www.alulearn.com/legal/tos/" class="small-link">Terms of Service</a>
                        </strong>
                      </p>
                      <p class="text-center"><small>Sent by Alu Learn | NYC, New York</small></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </tr>
      </table>
    </div>
  </body>
</html>
{% endinlinecss %}
