{% extends "emails/base.html" %}

{% block page_title %}Alu - New Year's Summary{% endblock %}
{% block entrance %}Happy New Year, {{ name }}!{% endblock %}

{% block content %}
<tr>
  <td class="text-chunk text-center">
    <p>In 2021, you studied a total of</p>
    <h2 class="in-text-h2">{{ flashcards_studied }} flashcards</h2>
    <p>In a cummulative</p>
    <h2 class="in-text-h2">{{ time_spent }} hours</h2>
    <p>Reaching a highest streak of</p>
    <h2 class="in-text-h2">{{ longest_streak }} days</h2>

    <br><br>

    {% if time_spent >= 1.0 %}
      <p>That's a lot of studying, putting you at <strong>#{{ rank }}</strong> overall for most flashcards studied, and making up <strong>{{ percent }}%</strong> of all flashcards!</p>
      <br>
    {% endif %}
    <p>Cummulatively, Alu users studied nearly <strong>150,000 flashcards</strong> in nearly <strong>15 days</strong> (360 hours), with the code that runs Alu totaling over <strong>30,000 lines</strong> in over <strong>300 files</strong>.</p>
  </td>
</tr>

{% include "emails/components/horizontal-break.html" %}

<tr>
  <td class="text-chunk">
    <p>You've also been given free access to Alu's <em>pro-mode</em> for four years (that's pretty much a life time), maintaining your access to existing features like playing games with your flashcards as well as upcoming features like being able to scan your notes to turn them into flashcards.</p>
    <br>
    <p>Upcoming features?  Alu has some big updates coming in 2022, including</p>
    <ul>
      <li><p><strong>Scan Notes:</strong> Scan your notes, then automatically turn them into spaced-repetition flashcards.  This makes it easier than ever to create your own flashcards and helps you review your notes at optimal intervals, rather than forgetting about them the minute you finish writing them.</p></li>
      <li><p><strong>Advanced Statistics:</strong> View advanced statistics about your decks and flashcards to help you find your most difficult areas</p></li>
      <li><p><strong>More Flashcard Types:</strong> A slew of new flashcard types, including image flashcards with blurred-out sections, <em>table</em> flashcards for solving problems, click-the-location flashcards, and more</p></li>
    </ul>
    <p>New decks are also underway, including</p>
    <ul>
      <li><p><a href="https://www.alulearn.com/l/chem/">AP Chemistry</a></p></li>
      <li><p><a href="https://www.alulearn.com/l/gov/">AP US Government and Politics</a></p></li>
      <li><p><a href="https://www.alulearn.com/l/stat/">AP Statistics</a></p></li>
      <!-- <li><a href="https://www.alulearn.com/l/macro/">AP Macroeconomics</a> (Community Led)</li> -->
    </ul>
    <p>Quite the year it has been and quite the year it will be!  Happy Aluing!</p>
    <br>
    <p><small>(future emails will be sent from <a href="mailto:alu@alulearn.com">alu@alulearn.com</a>)</small></p>
  </td>
</tr>

<tr>
  <td class="px-3 py-3">
    <span class="block-button">
      <a href="https://www.alulearn.com/" target="_blank">Open Alu</a>
    </span>
  </td>
</tr>
{% endblock content %}
