{% extends "emails/base.html" %}

{% block title %}{% endblock %}
{% block entrance %}Daily Study Reminder{% endblock %}

{% block content %}
<tr>
  <td class="text-chunk">
    <p>Hi {{ name }}!</p>
    <br>
    <p>
      You're on a {{ streak }}-day streak.<br>
      Study with <a href="https://www.alulearn.com">Alu</a> today to make it {{ streak | add:1 }} days!  You got this!
    </p>
  </td>
</tr>

<tr>
  <td class="px-3 py-3">
    <span class="block-button">
      <a href="https://www.alulearn.com/l/streak/" target="_blank">Study Now</a>
    </span>
  </td>
</tr>

<tr>
  <td class="text-chunk">
    <p>Best,<br>Alu</p>
  </td>
</tr>
{% endblock content %}
