{% extends 'emails/base.html' %}
{% block content %}

<style>
</style>

<table class='table container'>
  <tbody>
    <tr>
      <td>
        <a href='https://www.alulearn.com/l/email/' class='navbar-brand'>
          <img src='https://alulearn.com/static/logo.svg' width='30' height='auto' style='transform: translateY(7px)'>
          <span>Alu Learn: Your Year's Summary</span>
        </a>
        <hr>
      </td>
    </tr>
    <tr>
      <td>
        <h3 class='title'>Happy New Year's, {{ name }}!</h3>
        <p>Congratulations!</p>
        <p>In 2021, you studied a total of</p>
        <h3>{{ flashcards_studied}} flashcards</h3>
        <p>In a cummulative</p>
        <h3>{{ time_spent }} hours</h3>
        <p>Reaching a highest streak of</p>
        <h3>{{ longest_streak }} days</h3>
        <p>That's a lot of studying, putting you at <strong>#{{ rank }}</strong> overall for most flashcards studied, and making up <strong>{{ percent }}%</strong> of all flashcards.</p>
        <p>Cummulatively, Alu users studied a total of <strong>TK flashcards</strong> in <strong>TK days</strong> (TK hours).  Pretty cool!</p>
        <hr>
        <p>You've also been given <em>free access</em> to Alu's <em>pro-mode</em> for four years (that's pretty much a life time), ensuring you access to existing features like playing games with your flashcards and upcoming features like being able to scan your notes to turn them into flashcards.</p>
        <p>Upcoming features?  Alu has some big updates coming in 2022, including</p>
        <ul>
          <li>???</li>
          <li>???</li>
          <li>???</li>
        </ul>
        <p>New decks are also underway, including</p>
        <ul>
          <li><a href='https://www.alulearn.com/l/chem/'>AP Chemistry</a></li>
          <li><a href='https://www.alulearn.com/l/gov/'>AP US Government and Politics</a></li>
          <li><a href='https://www.alulearn.com/l/stat/'>AP Statistics</a></li>
          <!-- <li><a href='https://www.alulearn.com/l/macro/'>AP Macroeconomics</a> (Community Led)</li> -->
        </ul>
        <p>Quite the year it has been and quite the year it will be!  Happy Aluing!</p>
        <a href='https://www.alulearn.com/l/email/' target='_blank' class='button'>Open Alu</a>
      </td>
    </tr>
    <tr>
      <td>
        <hr>
        <small>Sent by Alu Learn | NYC, New York</small><br>
        <small>
          <a href='https://www.alulearn.com/settings/'>Unsubscribe from emails</a> | 
          <a href='https://www.alulearn.com/contactus/'>Contact Us</a> | 
          <a href='https://www.alulearn.com/legal/privacypolicy/'>Privacy Policy</a> | 
          <a href='https://www.alulearn.com/legal/tos/'>Terms of Service</a>
        </small>
      </td>
    </tr>
  </tbody>
</table>
{% endblock content %}
