@import '../decks/shared';

// Basic
.tutorial-popper {
  background: $primaryBlue;
  color: white;
  font-weight: bold;
  padding: 15px;
  font-size: 15px;
  border-radius: 4px;
  z-index: 99999;
  max-width: 450px;

  >button:hover {
    color: $primaryBlue;
  }
}

// Arrow
.tutorial-popper-arrow, .tutorial-popper-arrow::before {
  position: absolute;
  width: 12px;
  height: 15px;
  background: inherit;
}

.tutorial-popper-arrow {
  visibility: hidden;
}

.tutorial-popper-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg) translate(-7px, 3px);
}

// Positioning
.tutorial-popper[data-popper-placement^='top'] > .tutorial-popper-arrow {
  bottom: -4px;
}

.tutorial-popper[data-popper-placement^='bottom'] > .tutorial-popper-arrow {
  top: -4px;
}

.tutorial-popper[data-popper-placement^='left'] > .tutorial-popper-arrow {
  right: -4px;
}

.tutorial-popper[data-popper-placement^='right'] > .tutorial-popper-arrow {
  left: -4px;
}

// Display
.tutorial-popper {
  /* ... */
  display: none;
}

.tutorial-popper[data-show] {
  display: block;
}