@import '../decks/shared';

.choice-select {
  >.choice-col {
    padding: 10px;
    text-align: center;

    >.choice-selection {
      padding: 20px;
      border: $grayBorder;
      border-radius: $cardBorderRadius;
      min-height: 200px;
      background: $lightBackground;

      >.choice-select-text {
        font-size: 1.25rem;
        font-weight: bold;
      }
  
      &:hover {
        cursor: pointer;
        background-color: darken($lightBackground, 5%);
      }
    }
  }
}