{% extends 'base.html' %}

{% block title %}Eli the Elephant{% endblock title %}


{% block content %}
<div class='container text-center'>
<img
  src='/static/logo.svg'
  alt='Eli the Elephant'
  class='my-3'
  id='eli-the-elephant'
/>

<p>
  Eli the Elephant is Alu's official mascot and represents the sum of human knowledge.
  As you use Alu, some of Eli's vast knowledge will be transferred into your mind.
</p>

<p>
  Credit to <a href='https://www.svgrepo.com/'>svgrepo.com</a> for inspiring Eli's design
</p>
</div>

<style>
img#eli-the-elephant {
  display: block;
  margin: auto;
}
</style>
{% endblock content %}