@import '../../decks/shared.scss';

$borderWidth: 5px;

.pro-mode-container {
  max-width: 700px;
  margin: 0 auto !important;

  >div >div.col-md-5 {
    background: $lightBackground;
    border: $grayBorder;
    border-radius: $cardBorderRadius;

    padding: 0;

    >.pro-card-head {
      background: #343A40;
      color: white;
      padding: 25px;
      padding-bottom: 5px;
      margin-bottom: 25px;
    }

    >.pro-mode-body >ul >li {
      &.check {
        >span {
          color: green;
        }
      }
      &.xmark {
        color: lighten(gray, 10%);
      }
    }

    &.pro-mode-basic {
      transform: scale(0.85) translateX(25px);
      overflow: hidden;
    }

    &.pro-mode-pro {
      border-width: $borderWidth;
      border: none;
      overflow: default;
      margin-left: 20px;

      >.pro-card-head {
        border-radius: $cardBorderRadius $cardBorderRadius 0 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(-1 * $borderWidth);
        left: calc(-1 * $borderWidth);
        height: calc(100% + $borderWidth * 2);
        width: calc(100% + $borderWidth * 2);
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: $cardBorderRadius;
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%!important;
      }
    }
  }
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
