:root {
  --deck-selection-item-color: 17, 103, 177;
  --deck-selection-expand-color: 16, 95, 163;
}

.deck-selection-main {
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;

  border-radius: 0 25px 25px 0;

  background: rgba(var(--deck-selection-item-color), 0.7);
  color: white;
}

.deck-selection-main:hover, .deck-selection-main-selected {
  transform: scale(1.05, 1);
  transform-origin: left;
  transition-duration: .3s;
  background: rgba(var(--deck-selection-item-color), 0.9);
}

.deck-selection-expand {
  padding: 10px;
  margin-left: 10px;
  margin-right: 25px;

  border-radius: 0 0 10px 10px;

  background: rgba(var(--deck-selection-expand-color), 0.9);
  color: white;

  text-align: left;
}
