@import './shared';

.main-section {
  padding: 10px;
  margin-bottom: 20px;

  border-radius: $cardBorderRadius;
  background: $lightBackground;
  border: $grayBorder;

  >.main-section-body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200px;
  }
}

.sub-section {
  margin-left: auto;
  margin-right: auto;

  width: $subSectionSize;
  height: $subSectionSize;
  line-height: $subSectionSize;

  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;

  background: $subSectionColor;
  border: 2px dashed $subSectionBorderColor;
  color: white;

  &:hover {
    background: darken($subSectionColor, 5%);
    border: 2px solid $subSectionBorderColor;
    transform: scale(1.1);
    box-shadow: $cardShadow;
    transition-duration: 0.2s;
    cursor: pointer;
  }

  >.sub-section-text {
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
  }
}

a.no-underline, a.no-underline:hover, a.no-underline:focus, a.no-underline:active {
  text-decoration: none;
}
