:root {
  --sub-section-color: 42, 157, 244;
  --sub-section-border-color: 98, 118, 184;
  --sub-section-size: 130px;
}

.main-section {
  padding: 10px;
  margin-bottom: 20px;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.main-section-body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 200px;
}

.sub-section {
  margin-left: auto;
  margin-right: auto;

  width: var(--sub-section-size);
  height: var(--sub-section-size);
  line-height: var(--sub-section-size);

  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;

  background: rgba(var(--sub-section-color), 0.75);
  border: 2px dashed rgba(var(--sub-section-border-color), 0.8);
  color: white;
}

.sub-section-text {
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

.sub-section:hover {
  background: rgba(var(--sub-section-color), 0.9);
  border: 2px solid rgba(var(--sub-section-border-color), 0.9);
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

a.no-underline, a.no-underline:hover, a.no-underline:focus, a.no-underline:active {
  text-decoration: none;
}
