@import '~bootstrap/scss/bootstrap';

$lightGray: #E2E2E2;
$grayBorder: 4px solid $lightGray;
$lightBackground: #fafafa;
$unlitBackground: #e5e5e5;
$litBackground: #fd9626;
$deckSelectionColor: rgb(13, 118, 209);
$subSectionColor: rgb(42, 157, 244);
$subSectionBorderColor: rgb(98, 118, 184);
$subSectionSize: 130px;
$primaryBlue: #337BFF;
$cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
$cardBorderRadius: 20px;

.invisible { opacity: 0 }
