$gray-border: 4px solid #E2E2E2;
$light-background: #fafafa;
$unlitBackground: #e5e5e5;
$litBackground: #fd9626;
$deckSelectionColor: rgb(13, 118, 209);
$subSectionColor: rgb(42, 157, 244);
$subSectionBorderColor: rgb(98, 118, 184);
$subSectionSize: 130px;

.invisible { opacity: 0 }