@import './shared';

.submitted-changes-item {
  background: $lightBackground;
  border: $grayBorder;
  border-radius: $cardBorderRadius;
  padding: 15px;

  &:hover {
    box-shadow: $cardShadow;
  }
}
