{% extends "emails/base.html" %}

{% block page_title %}Alu - Pro Mode Expired{% endblock %}
{% block entrance %}Your Free Trial of Pro Mode Has Expired{% endblock %}

{% block content %}
<tr>
  <td class="text-chunk">
    <p>Hi {{ name }},</p>
    <br>
    <p>Your free trial of pro-mode has expired.  Don't worry, you won't be charged for anything.</p>
    <p>If you would like to keep the benefits of pro-mode, you can upgrade below.</p>
    <br>
    <p>Benefits of Upgrading to Pro-mode:</p>
    <ul>
      <li>No ads</li>
      <li>Study with games</li>
      <li>Identify difficult flashcards and topics</li>
      <li>Create links between flashcards</li>
      <li>Unlimited flashcards</li>
    </ul>       
  </td>         
</tr>           
                
<tr>            
  <td class="px-3 py-3">
    <span class="block-button">
      <a href="https://www.alulearn.com/l/pro/" target="_blank">
        Upgrade to Pro
      </a>
    </span>
  </td>
</tr>
{% endblock content %}
