a.card:hover {
  text-decoration: none;
}

/* Taken from https://www.materials-world.com/paint-colors/benjamin_moore/images/Benjamin-Moore-Color-14.gif */
.react-calendar-heatmap .color-scale-0 { fill: #ececec; }
.react-calendar-heatmap .color-scale-1 { fill: #daeef1; }
.react-calendar-heatmap .color-scale-2 { fill: #BFE2E9; }
.react-calendar-heatmap .color-scale-3 { fill: #97CFE5; }
.react-calendar-heatmap .color-scale-4 { fill: #5FB4D8; }
.react-calendar-heatmap .color-scale-5 { fill: #3297C9; }
.react-calendar-heatmap .color-scale-6 { fill: #236BA1; }
.react-calendar-heatmap .color-scale-7 { fill: #195281; }
.react-calendar-heatmap .color-scale-8 { fill: #303F5F; }

#home-nav-sidebar {
  border-right: 1px solid black;
}

.no-bullets {
  list-style-type: none;
}

.link-like {
  color: #2a8cf7;
}

.link-like:hover {
  text-decoration: underline;
  cursor: pointer;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

th {
  text-align: center;
  background-color: #4CAF50 !important;
  color: white !important;
  cursor: default;
}

.classroom-assignments-options {
  color: gray;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
