a.card:hover {
  text-decoration: none;
}

/* Taken from https://www.materials-world.com/paint-colors/benjamin_moore/images/Benjamin-Moore-Color-14.gif */
.react-calendar-heatmap .color-scale-0 { fill: #daeef1; }
.react-calendar-heatmap .color-scale-1 { fill: #BFE2E9; }
.react-calendar-heatmap .color-scale-2 { fill: #97CFE5; }
.react-calendar-heatmap .color-scale-3 { fill: #5FB4D8; }
.react-calendar-heatmap .color-scale-4 { fill: #3297C9; }
.react-calendar-heatmap .color-scale-5 { fill: #236BA1; }
.react-calendar-heatmap .color-scale-6 { fill: #195281; }
.react-calendar-heatmap .color-scale-7 { fill: #303F5F; }