@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .pro-card {
    @apply col-span-12 overflow-hidden rounded-xl border-4 border-gray-200 lg:col-span-5;

    &.pro-card-basic {
      @apply scale-100 lg:ml-6 lg:mr-3 lg:scale-90;
    }
    &.pro-card-pro {
      @apply mt-5 scale-100 lg:mt-0 lg:mr-6 lg:scale-110;
      overflow: visible;

      // Rainbow background effect
      &::after {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        height: calc(100% + 16px);
        width: calc(100% + 16px);
        background: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
        border-radius: 12px;
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300% !important;
      }
    }

    > .pro-card-head {
      @apply rounded-t-xl bg-alu-dark-purple px-6 py-4 text-white;
      > h3 {
        @apply text-2xl font-bold;
      }
      > p {
        @apply mb-3 text-lg;
      }
    }
    > .pro-card-body {
      @apply rounded-b-xl bg-white px-6 py-4;

      > ul > li {
        &.check > svg {
          @apply mr-2 text-green-600;
        }
        &.xmark {
          @apply text-gray-400 line-through;
          > svg {
            @apply mr-2;
          }
        }
      }
    }
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
