@import './shared';

.flashcard-create {
  border: $grayBorder;
  border-radius: $cardBorderRadius;
  background: $lightBackground;

  margin-bottom: 5px;

  >div.editor >div.editor-head {
    border-bottom: $grayBorder;
    padding-left: 20px;
    background: darken($lightBackground, 3%);
    border-radius: $cardBorderRadius $cardBorderRadius 0 0;
  }
}

.add-image {
  width: 100%;
  height: 100%;

  border: $grayBorder;
  border-radius: $cardBorderRadius;
  background: $lightBackground;

  &:hover {
    box-shadow: $cardShadow;
    transform: scale(1.05);
  }

  >div.add-image-head {
    border-bottom: $grayBorder;
    background: darken($lightBackground, 3%);
    border-radius: $cardBorderRadius $cardBorderRadius 0 0;
    text-align: center;
    
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
  }

  >div.add-image-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-bottom: 10px;
  }
}
