@import './shared';

.deck-selection-item {
  @media (min-width:767px) {
    max-width: 350px;
  }
  @media (max-width:767px) {
    max-width: 95%;
  }
  margin-bottom: 8px;

  >.deck-selection-main {
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    border-radius: 0 25px 25px 0;
  
    background: $lightBackground;
    border: $grayBorder;
  
    &:hover, &.selected {
      transform: scale(1.05, 1);
      transform-origin: left;
      box-shadow: $cardShadow;
      transition-duration: .3s;
    }
    >p {
      transform: translateY(-3px);
      padding: 0;
      margin: 0;
      color: $primaryBlue;
  
      >span i {
        color: darken($lightGray, 20%);
      }
    }
  }
  
  >.deck-selection-expand {
    padding: 10px;
    margin-left: 10px;
    margin-right: 25px;
  
    border-radius: 0 0 10px 10px;
  
    background: $lightBackground;
    border: $grayBorder;
    color: white;
    text-align: left;
  
    cursor: default;
  }
}
