@import './shared';

.main-section {
  padding: 10px;
  margin-bottom: 20px;

  border-radius: $cardBorderRadius;
  background: $lightBackground;
  border: $grayBorder;

  >.main-section-body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200px;
  }
}

.main-section-buttons {
  position: absolute;
  right: 0;
  transform: translate(-40px, -8px);
}

.sub-section-buttons {
  position: absolute;
  right: 0;
  transform: translate(-8px, -18px);
}

.sub-section {
  margin-left: auto;
  margin-right: auto;

  width: $subSectionSize;
  height: $subSectionSize;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: $grayBorder;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    transform: scale(1.1);
    box-shadow: $cardShadow;
    transition-duration: 0.2s;
    cursor: pointer;

    >.sub-section-inner >.sub-section-assignment-indicator {
      transform: scale(1.1) translateY(10px);
      transform-origin: center center;
      transition-duration: 0.2s;
    }
  }

  >.sub-section-percent-complete {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    padding-left: 2px;
    padding-right: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    >.sub-section-inner {
      width: 90%;
      height: 90%;
      border-radius: 50%;
      padding: 5px;
      border: $grayBorder;
      background: darken($lightBackground, 2%);
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      .sub-section-assignment-indicator {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        bottom: 20%;
        transform-origin: top right;
      }
  
      >.sub-section-text {
        hyphens: auto;
        user-select: none;
        margin-bottom: 0;
      }
    }
  }
}

a.no-underline, a.no-underline:hover, a.no-underline:focus, a.no-underline:active {
  text-decoration: none;
}

/* Taken from https://www.materials-world.com/paint-colors/benjamin_moore/images/Benjamin-Moore-Color-14.gif */
.react-calendar-heatmap .color-scale-0 { fill: #ececec; }
.react-calendar-heatmap .color-scale-1 { fill: #daeef1; }
.react-calendar-heatmap .color-scale-2 { fill: #BFE2E9; }
.react-calendar-heatmap .color-scale-3 { fill: #97CFE5; }
.react-calendar-heatmap .color-scale-4 { fill: #5FB4D8; }
.react-calendar-heatmap .color-scale-5 { fill: #3297C9; }
.react-calendar-heatmap .color-scale-6 { fill: #236BA1; }
.react-calendar-heatmap .color-scale-7 { fill: #195281; }
.react-calendar-heatmap .color-scale-8 { fill: #303F5F; }
