// === VARIABLES ===
$lightGray: #E2E2E2;
$darkGray: #343A40;
$grayBorder: 4px solid $lightGray;
$lightBackground: #fafafa;
$unlitBackground: #e5e5e5;
$litBackground: #fd9626;
$subSectionSize: 130px;
$primaryBlue: #337BFF;
$cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
$cardBorderRadius: 20px;

// === GLOBAL CLASSES ===
.invisible { opacity: 0 }

.right-separator {
  @media (min-width:767px) {
    border-right: 1px solid black;
  }
}

.searched-item {
  background: $lightBackground;
  border: $grayBorder;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    background: darken($lightBackground, 3%);
  }
}

// HR Text Separator
.hr-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.hr-separator::before,
.hr-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.hr-separator:not(:empty)::before {
  margin-right: .25em;
}

.hr-separator:not(:empty)::after {
  margin-left: .25em;
}
