@import './shared';

.flashcard-view {
  border: $grayBorder;
  border-radius: $cardBorderRadius;
  margin-bottom: 10px;
  background: $lightBackground;
  overflow: hidden;

  &:hover {
    box-shadow: $cardShadow;
    cursor: pointer;
  }

  >.flashcard-head {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: $grayBorder;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: darken($lightBackground, 3%);
  }

  >.flashcard-body {
    display: flex;
    >div {
      &.flashcard-field {
        &.divider {
          @media (min-width: 767px) {
            border-right: $grayBorder;
          }
          @media (max-width: 767px) {
            border-bottom: $grayBorder;
          }
        }

        >.text {
          align-items: center;
          display: flex;
          justify-content: center;
          align-items: center;

        }

        >.images >.image >img {
          margin-left: auto;
          margin-right: auto;
          display: block;
          max-width: 80%;
        }
      }
  
      &.rich-text-editor {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}