@import '../decks/shared';

.choose-deck-option {
  background: $lightBackground;
  border: $grayBorder;
  border-radius: $cardBorderRadius;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;

  >.choose-deck-icon {
    background: lighten($darkGray, 10%);
    border-radius: $cardBorderRadius;
    padding: 2px;

    >i {
      color: $lightGray;
      transform: scale(0.9);
    }
  }

  >.choose-deck-text {
    >.choose-deck-title {
      margin-top: 10px;
    }
  }

  &:hover {
    box-shadow: $cardShadow;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.student-row {
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 0.0625rem solid #e0e0e0;
  }
}

.assignment-row {
  background: $lightBackground;
  border: $grayBorder;
  border-radius: $cardBorderRadius;

  display: block;

  padding: 15px;
  margin-bottom: 10px;
}
