@import '../decks/shared';

.assignment-row {
  background: $lightBackground;
  border: $grayBorder;
  border-radius: $cardBorderRadius;

  display: block;

  padding: 15px;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
    box-shadow: $cardShadow;
    transform: scale(1.01);
  }
}
